<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>

    <!-- Allow DELETE and PUT methods (IIS blocks them by default) -->
    <security>
      <requestFiltering>
        <verbs>
          <add verb="DELETE" allowed="true" />
          <add verb="PUT"    allowed="true" />
          <add verb="OPTIONS" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>

    <!-- Remove WebDAV which intercepts DELETE/PUT -->
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
    </handlers>
  </system.webServer>
</configuration>
