<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="GET"     allowed="true" />
          <add verb="POST"    allowed="true" />
          <add verb="PUT"     allowed="true" />
          <add verb="DELETE"  allowed="true" />
          <add verb="OPTIONS" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
